/* Blog Posts Page Output Styling */
button#back-to-home {
    font-size: 1.3rem;
    font-weight: 300;
    background-color: #25bd6b;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    margin-top: 15px;
}

ul li {
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 15px;
    margin-bottom: 15px;
}

/* li p {
    line-break: strict;
} */

li p.title {
    font-size: 22px;
}

li p.content {
    font-size: 18px;
}

li p.username {
    font-size: 14px;
}

ul li button {
    margin-left: 20px;
    padding: 8px 20px;
    background-color: #d73552;
    color: #fff;
}
