/* Form Styles */
form {
    width: 450px;
    margin: 0 auto;
}

form * {
    padding: 8px 10px;
    margin-bottom: 8px;
    border-radius: 3px;
}

form input {
    border: 1px solid #ddd;
}

form input#text-input {
    height: 150px;
}

button {
    font-size: 1.3rem;
    font-weight: 300;
    background-color: #25bd6b;
    color: #fff;
}

footer {
    padding: 25px 0;
}