@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,300;1,500&display=swap" rel="stylesheet');

/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', serif;
}

html, body {
    height: 100%;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 3%;
}
/* downside to useing vh instead of % is that it's the viewport, so we need % instead */

a {
    color: #333;
    text-decoration: none;
}

button, input {
    border: none;
}

button {
    cursor: pointer;
}

footer p {
    font-size: 12px;
}

/* GLOBAL CLASSES */
.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
    /* grid-row-gap: 15px; */
}
.row, .column {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.flex-1 {
    flex: 1;
}
/* flexbox is row by default so by adding column above, column also needs to be direction: column */

/* CUSTOM STYLES */
header {
    padding: 8px 0;
}

header nav a:hover {
    text-decoration: underline;
}

header nav a:not(:last-child) {
    margin-right: 15px
}

main > h1 {
    margin: 20px 0;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 24px;
}

/* Home/Add Posts Page */
.blog-form-elements h1, h2, form {
    padding: 5px 0;
}
.start-now-btn {
    margin-top: 25px;
    background-color: #25bd6b;
    color: #fff;
    padding: 10px 35px;
    font-size: 1.2rem;
    border-radius: 3px;
}

/* light mode */
.light-mode {
    background-color: #fff;
    color: #000;
}

/* dark mode */
.dark-mode {
    background-color: #333;
    color: #fff;
}


/* RESPONSIVE STYLES */